body{
    background-color: #302e2b;
}
#root{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}
.sqrRow{
    display: flex;
}
.square{
    position: relative;
    width: 70px;
    height: 70px;
}
.white{
    background-color: #F0D9B5;
}
.black{
    background-color: #B58863;
}
.piece{
    width: 100%;
    cursor: grab;
}
.highlight{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 20px;
    height: 20px;
    
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #4A90E2;
    pointer-events: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.captureColor{
    background-color: rgba(102, 255, 153, 0.6);
   
}
.hltYlow{
    background-color: #F5A623;
}